<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Django to Rails</title>

		<meta name="description" content="Django to Rails">
		<meta name="author" content="Rebecca Meritz">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
                          <section>
                            <h1>From Django to Rails</h1>
                            <h3>A Journey from Explict to Implicit</h3>
                            <p>
                              <small>
                                <a href="http://rebecca.meritz.com">Rebecca Meritz</a>
                                /
                                <a href="http://twitter.com/rmeritz">@rmeritz</a>
                              </small>
                            </p>
                          </section>

                          <section>
                            <img src="form.png" alt-text="Form">
                          </section>

                          <section>
                            <pre>
                              <code class="">

├── app
│   ├── controllers
│   │   ├── application_controller.rb
│   │   ├── concerns
│   │   └── jobs_controller.rb
│   ├── helpers
│   │   └── application_helper.rb
│   ├── models
│   │   ├── concerns
│   │   └── job.rb
│   └── views
│       ├── jobs
│       │   ├── edit.html.erb
│       │   ├── _form.html.erb
│       │   ├── index.html.erb
│       │   ├── new.html.erb
│       │   └── show.html.erb
│       ├── layouts
│       │   └── application.html.erb
                              </code>
                            </pre>
                          </section>

                          <section>
                            <pre>
                              <code class="">
├── skill_and_love
├── urls.py
│   ├── jobs
│   │   ├── models.py
│   │   ├── views.py
│   │   ├── forms.py
│   │   └── urls.py
│   ├── applicatants
│   │   ├── models.py
│   │   ├── views.py
│   │   ├── forms.py
│   │   └── urls.py
│   ├── templates
│   │   ├── index.html
│   │   └── create_jobs.html
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h2>Reflections</h2>
                            <ul>
                                <li>Rails is simpler</li>
                                <li>Django has smaller conceptal units</li>
                                <li>Django solves the lib problem</li>
                                <li>Django can have giant models files</li>
                            </ul>
                          </section>

                          <section>
                            <pre>
                              <code class="html">
&lt;form action="/jobs" method="post"&gt;

  &lt;label for="job_name"&gt;Name&lt;/label&gt;
  &lt;input type="text" name="job[name]" id="job_name" /&gt;

  &lt;label for="job_description"&gt;Description&lt;/label&gt;
  &lt;textarea name="job[description]" id="job_description"&gt;

  &lt;input type="submit" value="Create Job" class="button" /&gt;
&lt;/form&gt;
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h3>app/views/jobs/_form.html.erb</h3>
                            <pre>
                              <code class="html">
<%= form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.text_field :name %>
    <%= f.text_area :description %>
    <%= f.text_field :company_name %>
    <%= f.text_field :url %>
    <%= f.date_field :start_date %>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h3>templates/base/form.html</h3>
                            <pre>
                              <code class="html">
<form action="{% url create_job %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-inputs">
        {{ form.as_p }}
    </div>

    <div class="form-actions">
        <input type="submit" value="Submit">
    </div>
</form>
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h2>Reflections</h2>
                            <ul>
                                <li>Rails is easier for a designer to change</li>
                                <li>Django autodiscovers sensible form widgets</li>
                            </ul>
                          </section>

                          <section>
                            <h3>
                              config/routes.rb
                            </h3>
                            <pre>
                              <code class="ruby">
Rails.application.routes.draw do
  resources :jobs, only: :create
end
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h3>
                                urls.py
                            </h3>
                            <pre>
                              <code class="python">
from django.conf.urls import include, patterns


urlpatterns = patterns(
    '',
    (r'^jobs/', include("skill_and_love.job.urls")),
)
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h3>
job/urls.py
                            </h3>
                            <pre>
                              <code class="python">
from django.conf.urls import url, patterns

from .views import CreateJobView


urlpatterns = patterns(
    '',
    url(r'^create/$', CreateJobView.as_view(), name='job_create'),
)
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h2>Reflections</h2>
                            <ul>
                                <li>Rails is RESTful</li>
                                <li>Django is explicit</li>
                                <li>Django is unopionated about app structure</li>
                            </ul>
                          </section>

                          <section>
                            <h3>
app/controllers/jobs_controller.rb
                            </h3>
                            <pre>
                              <code class="ruby">
class JobsController < ApplicationController
  def create
    @job = Job.new(job_params)
    @job.end_date = @job.start_date + 30.days

    if @job.save
      redirect_to @job, notice: 'Job was successfully created.'
    else
      render :new
    end
  end
end
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h3>
job/views.py
                            </h3>
                            <pre>
                              <code class="python">
from django.views.generic import CreateView

from .models import Job
from .forms import CreateJobForm


class JobCreateView(CreateView):
    model = Job
    form_class = CreateJobForm
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h3>
CreateView
                            </h3>
                            <pre>
                              <code class="python">
def post(self, request, *args, **kwargs):
    form_class = self.get_form_class()
    form = self.get_form(form_class)
    if form.is_valid():
        return self.form_valid(form)
    else:
        return self.form_invalid(form)
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h2>Reflections</h2>
                            <ul>
                                <li>Django's views have a confusing name</li>
                                <li>Django's views encapsulate common patterns</li>
                                <li>Django's views encourage code sharing</li>
                                <li>Django uses the template pattern</li>
                                <li>The template pattern can be confusing</li>
                                <li>Rails controllers are very imperative</li>
                            </ul>
                          </section>


                          <section>
                            <h2>Django Forms</h2>
                            <ol>
                              <li>preparing and restructuring data ready for rendering</li>
                              <li>creating HTML forms for the data</li>
                              <li>receiving and processing submitted forms and data from the client</li>
                            </ol>
                              <p>https://docs.djangoproject.com/en/1.7/topics/forms/#django-s-role-in-forms</p>
                          </section>

                          <section>
                            <h3>
jobs/forms.py
                            </h3>
                            <pre>
                              <code class="python">
from datetime import timedelta
from django import forms
from .models import Job


class JobCreateForm(forms.ModelForm):
    class Meta:
        model = Job
        fields = ["name", "description", "start_date"]

    def clean_name(self):
        name = self.cleaned_data.get('name')
        if self._is_obscene(name):
            raise forms.ValidationError(
                'You may not choose an obscene name')
        return name

    def save(self, *args, **kwargs):
        kwargs.update({'commit': False})
        job = super(JobCreateForm, self).save(*args, **kwargs)
        job.end_date = job.start_date + timedelta(days=30)
        job.save
        return job
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h3>
app/controllers/jobs_controller.rb
                            </h3>
                            <pre>
                              <code class="ruby">
class JobsController < ApplicationController
  def create
    @job = Job.new(job_params)
    @job.end_date = @job.start_date + 30.days

    if @job.save
      redirect_to @job, notice: 'Job was successfully created.'
    else
      render :new
    end
  end
end
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h3>
lib/validators/obscene_validator.rb
                            </h3>
                            <pre>
                              <code class="ruby">
class ObsceneValidator < ActiveModel::Validator
  def validate(record)
    if record.name.obscene?
      record.errors[:name] << 'No dirty names!'
    end
  end
end
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h2>Reflections</h2>
                            <ul>
                                <li>Django encapsulates user input</li>
                                <li>Django allow different validations for different user</li>
                                <li>Django's forms are a place for munging date</li>
                            </ul>
                          </section>

                          <section>
                            <h2>Models<h2>
                          </section>

                          <section>
                            <pre>
                              <code>
$ bin/rails generate migration CreateJobs
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h3>
db/migrate/20150223155659_create_jobs.rb
                            </h3>
                            <pre>
                              <code class="ruby">
class CreateJobs < ActiveRecord::Migration
  def self.up
    create_table :jobs do |t|
      t.text :name, null: false
      t.boolean :published, null: false
      t.timestamps null: false
    end
  end

  def self.down
    drop_table :jobs
  end
end
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h3>
                              db/schema.rb
                            </h3>
                            <pre>
                              <code class="ruby">
create_table "jobs", force: :cascade do |t|
  t.text     "name",         null: false
  t.boolean  "published",    null: false
  t.datetime "created_at",   null: false
  t.datetime "updated_at",   null: false
end
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h3>
app/models/job.rb
                            </h3>
                            <pre>
                              <code class="ruby">
class Job < ActiveRecord::Base
  validates_with ObsceneValidator
  scope :published { where(published: true) }
end

                              </code>
                            </pre>
                          </section>

                          <section>
                            <pre>
                              <code class="ruby">
>>> Job.find(2)
>>> Job.all
>>> Job.published
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h3>
job/models.py
                            </h3>
                            <pre>
                              <code class="python">
from django.db import models

from .managers import JobsManager


class Job(models.Model):
    objects = JobsManager()

    name = models.CharField(max_length=100, null=False)
    published = models.BooleanField(default=False)
    created_at = models.DateTimeField(auto_now_add=True)
    updated_at = models.DateTimeField(auto_now=True)
                              </code>
                            </pre>
                          </section>

                          <section>
                            <pre>
                              <code class="python">
$ python manage.py makemigrations jobs
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h3>
job/managers.py
                            </h3>
                            <pre>
                              <code class="python">
from django.db.models import Manager


class JobManager(Manager):
    def published(self):
        return self.filter(published=True)
                              </code>
                            </pre>
                          </section>

                          <section>
                            <pre>
                              <code class="python">

>>> Job.objects.get(id=2)
>>> Job.objects.all()
>>> Job.objects.published()
                              </code>
                            </pre>
                          </section>

                          <section>
                            <h2>Reflections</h2>
                            <ul>
                                <li>Django's Managers allow the models to have a cleaner API</li>
                                <li>Rails' schema is centralized</li>
                                <li>Django's migrations are an imperfect solution to migration conflicts</li>
                                <li>Both muddle the difference btw DB and non-DB
                                level validations</li>
                            </ul>
                          </section>

                          <section>
                            <h2>Final Outrageous Opinions</h2>
                            <ul>
                                <li>Django is nicer than Rails</li>
                                <li>But Ruby is nicer than Python</li>
                            </ul>
                          </section>

                          <section>
                            <h2>rebecca.meritz.com/pycon</h2>
                            <h2>@rmeritz</h2>

                            <h2>pycon.se</h2>
                            <h2>May 12-13, 2015</h2>
                          </section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
